<div data-role="dialog">
  <div data-role="header">
  	<h2>Add New Task</h2>
  </div> 
  <div data-role="content">
    <form id="addtodo">
     <div>
     	<input id="subject" type="text" placeholder="Task subject" />
     </div>
     <div>
     	<textarea id="description" placeholder="Description"></textarea>
     </div>
     <div>
     	<input id="dueDate" type="date" placeholder="Due Date" />
     </div>
     <div>
     	<a href="#" data-role="button" onclick="addTodo()">Save</a>
     	<a href="#" data-role="button" onclick="$('.ui-dialog').dialog('close')">Close</a>
     </div>
    </form> 
  </div>
</div>