
/* Stylesheet content from css/watermelon.css in folder common */
/* Reset CSS */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	margin: 0;
	padding: 0;
}

/* Worklight container div */
#content {
	height: 460px;
	margin: 0 auto;
	width: 320px;
}

.ui-footer div {
	text-align: center;
}
/* Set the page size 100%, and fixed footer at bottom */
[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}
.position { padding: 5px 5px 5px 5px; background: #36405f; color: #fff; text-align: center; }
.error { background: #ffaaaa; color: #000; text-align: center; }
#map_canvas { 
	 height: 480px; 
	 width: 100%;
	 margin: 0 0; 
}
/* Stylesheet content from css/watermelon.css in folder android */

/* this CSS file extends the application CSS file found under common\css */

/* body should stretch in an Android application */
body {
	height: auto;
	min-height: 100%;
	overflow: auto;
}

/*Worklight container div */
#content {
	height: auto;
	min-height: 100%;
	width: 100%;
}
